---
http_interactions:
- request:
    method: post
    uri: https://api.layer.com/apps/<APP_ID>/announcements
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - e7cf1b8d-58ea-4484-bb6a-7f6c76a93915
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"url":"https://developer.layer.com/docs/platform","data":{"property":"recipients"},"code":104,"id":"missing_property","message":"Object
        is missing required member ''recipients''"}'
  recorded_at: Wed, 03 Feb 2016 01:13:54 GMT
recorded_with: VCR 2.9.3
