---
http_interactions:
- request:
    method: post
    uri: https://api.layer.com/apps/<APP_ID>/announcements
    body:
      encoding: UTF-8
      string: '{"recipients":["1234","5678"],"sender":{"name":"The System"},"parts":[{"body":"Hello,
        World!","mime_type":"text/plain"},{"body":"YW55IGNhcm5hbCBwbGVhc3VyZQ==","mime_type":"image/jpeg","encoding":"base64"}],"notification":{"text":"This
        is the alert text to include with the Push Notification.","sound":"chime.aiff"}}'
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"url":"https://api.layer.com/apps/<APP_ID>/announcements/2b7c199f-bd09-4ce2-bd29-2e4f79cb1c7b","sent_at":"2015-07-18T21:33:52.109Z","recipients":["1234","5678"],"id":"layer:///announcements/2b7c199f-bd09-4ce2-bd29-2e4f79cb1c7b","sender":{"name":"The
        System"},"parts":[{"mime_type":"text/plain","body":"Hello, World!"},{"mime_type":"image/jpeg","body":"YW55IGNhcm5hbCBwbGVhc3VyZQ==","encoding":"base64"}]}'
  recorded_at: Sat, 18 Jul 2015 21:33:52 GMT
recorded_with: VCR 2.9.3
