---
http_interactions:
- request:
    method: post
    uri: https://api.layer.com/apps/<APP_ID>/announcements
    body:
      encoding: UTF-8
      string: '{"recipients":["1234","5678"],"sender":{"name":"The System"},"parts":[{"body":"Hello,
        World!","mime_type":"text/plain"},{"body":"YW55IGNhcm5hbCBwbGVhc3VyZQ==","mime_type":"image/jpeg","encoding":"base64"}],"notification":{"text":"This
        is the alert text to include with the Push Notification.","sound":"chime.aiff"}}'
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - b9752d4f-8a35-40ca-8e6a-e7d9a9d1cda9
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"url":"https://api.layer.com/apps/<APP_ID>/announcements/b9752d4f-8a35-40ca-8e6a-e7d9a9d1cda9","sent_at":"2016-02-02T16:36:24.953Z","recipients":["1234","5678"],"id":"layer:///announcements/b9752d4f-8a35-40ca-8e6a-e7d9a9d1cda9","sender":{"name":"The
        System"},"parts":[{"mime_type":"text/plain","body":"Hello, World!"},{"mime_type":"image/jpeg","body":"any
        carnal pleasure"}]}'
  recorded_at: Tue, 02 Feb 2016 16:36:25 GMT
recorded_with: VCR 2.9.3
