---
http_interactions:
- request:
    method: post
    uri: https://api.layer.com/apps/<APP_ID>/announcements
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - 2d92973d-e714-426f-8eee-597b068a76ee
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"url":"https://developer.layer.com/docs/platform","data":{"property":"recipients"},"code":104,"id":"missing_property","message":"Object
        is missing required member ''recipients''"}'
  recorded_at: Sun, 24 Jan 2016 00:56:30 GMT
recorded_with: VCR 2.9.3
