---
http_interactions:
- request:
    method: post
    uri: https://api.layer.com/apps/<APP_ID>/announcements
    body:
      encoding: UTF-8
      string: '{"recipients":["1234","5678"],"sender":{"name":"The System"},"parts":[{"body":"Hello,
        World!","mime_type":"text/plain"},{"body":"YW55IGNhcm5hbCBwbGVhc3VyZQ==","mime_type":"image/jpeg","encoding":"base64"}],"notification":{"text":"This
        is the alert text to include with the Push Notification.","sound":"chime.aiff"}}'
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - c3976e5b-234a-4e02-b893-53916f12a8e4
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"url":"https://api.layer.com/apps/<APP_ID>/announcements/c3976e5b-234a-4e02-b893-53916f12a8e4","sent_at":"2016-02-03T01:13:53.219Z","recipients":["1234","5678"],"id":"layer:///announcements/c3976e5b-234a-4e02-b893-53916f12a8e4","sender":{"name":"The
        System"},"parts":[{"mime_type":"text/plain","body":"Hello, World!"},{"mime_type":"image/jpeg","body":"any
        carnal pleasure"}]}'
  recorded_at: Wed, 03 Feb 2016 01:13:53 GMT
recorded_with: VCR 2.9.3
