---
http_interactions:
- request:
    method: post
    uri: https://api.layer.com/apps/<APP_ID>/announcements
    body:
      encoding: UTF-8
      string: '{"recipients":["1234","5678"],"sender":{"name":"The System"},"parts":[{"body":"Hello,
        World!","mime_type":"text/plain"},{"body":"YW55IGNhcm5hbCBwbGVhc3VyZQ==","mime_type":"image/jpeg","encoding":"base64"}],"notification":{"text":"This
        is the alert text to include with the Push Notification.","sound":"chime.aiff"}}'
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - 4a176c63-2906-4a2a-9313-eb83b55e864c
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"url":"https://api.layer.com/apps/<APP_ID>/announcements/4a176c63-2906-4a2a-9313-eb83b55e864c","sent_at":"2016-02-03T01:13:51.517Z","recipients":["1234","5678"],"id":"layer:///announcements/4a176c63-2906-4a2a-9313-eb83b55e864c","sender":{"name":"The
        System"},"parts":[{"mime_type":"text/plain","body":"Hello, World!"},{"mime_type":"image/jpeg","body":"any
        carnal pleasure"}]}'
  recorded_at: Wed, 03 Feb 2016 01:13:51 GMT
recorded_with: VCR 2.9.3
