---
http_interactions:
- request:
    method: post
    uri: https://api.layer.com/apps/<APP_ID>/users/owner/blocks
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - f9f81bf2-b813-4929-8d86-dec278414959
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"url":"https://developer.layer.com/docs/platform","data":{"property":"user_id"},"code":104,"id":"missing_property","message":"Object
        is missing required member ''user_id''"}'
  recorded_at: Wed, 03 Feb 2016 01:13:56 GMT
recorded_with: VCR 2.9.3
