---
http_interactions:
- request:
    method: post
    uri: https://api.layer.com/apps/<APP_ID>/users/owner/blocks
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - db4eb036-dd50-40f4-9e03-2ef5c6876d9f
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"url":"https://developer.layer.com/docs/platform","data":{"property":"user_id"},"code":104,"id":"missing_property","message":"Object
        is missing required member ''user_id''"}'
  recorded_at: Tue, 02 Feb 2016 16:36:27 GMT
recorded_with: VCR 2.9.3
