---
http_interactions:
- request:
    method: post
    uri: https://api.layer.com/apps/<APP_ID>/conversations
    body:
      encoding: UTF-8
      string: '{"participants":["1234","5678"],"distinct":false,"metadata":{"background_color":"#3c3c3c"}}'
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - 23687aef-fb6b-4b81-a711-a8bc456fc84f
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"url":"https://api.layer.com/apps/<APP_ID>/conversations/23687aef-fb6b-4b81-a711-a8bc456fc84f","participants":["5678","1234"],"id":"layer:///conversations/23687aef-fb6b-4b81-a711-a8bc456fc84f","distinct":false,"metadata":{"background_color":"#3c3c3c"},"created_at":"2016-02-02T16:36:33.393Z","messages_url":"https://api.layer.com/apps/<APP_ID>/conversations/23687aef-fb6b-4b81-a711-a8bc456fc84f/messages"}'
  recorded_at: Tue, 02 Feb 2016 16:36:33 GMT
- request:
    method: post
    uri: https://api.layer.com/apps/<APP_ID>/conversations/23687aef-fb6b-4b81-a711-a8bc456fc84f/messages
    body:
      encoding: UTF-8
      string: '{"sender":{"name":"t-bone"},"parts":[{"body":"Hello, World!","mime_type":"text/plain"},{"body":"YW55IGNhcm5hbCBwbGVhc3VyZQ==","mime_type":"image/jpeg","encoding":"base64"}],"notification":{"text":"This
        is the alert text to include with the Push Notification.","sound":"chime.aiff"}}'
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - 50413843-dc70-4b2e-ba03-4be32c5655f5
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"conversation":{"id":"layer:///conversations/23687aef-fb6b-4b81-a711-a8bc456fc84f","url":"https://api.layer.com/apps/<APP_ID>/conversations/23687aef-fb6b-4b81-a711-a8bc456fc84f"},"url":"https://api.layer.com/apps/<APP_ID>/messages/50413843-dc70-4b2e-ba03-4be32c5655f5","sent_at":"2016-02-02T16:36:33.978Z","id":"layer:///messages/50413843-dc70-4b2e-ba03-4be32c5655f5","recipient_status":{"5678":"sent","1234":"sent"},"sender":{"name":"t-bone"},"parts":[{"mime_type":"text/plain","body":"Hello,
        World!"},{"mime_type":"image/jpeg","body":"any carnal pleasure"}]}'
  recorded_at: Tue, 02 Feb 2016 16:36:34 GMT
recorded_with: VCR 2.9.3
