---
http_interactions:
- request:
    method: post
    uri: https://api.layer.com/apps/<APP_ID>/conversations
    body:
      encoding: UTF-8
      string: '{"participants":["1234","5678"],"distinct":false,"metadata":{"background_color":"#3c3c3c"}}'
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - c719613b-5541-49cd-a517-686993bc36f3
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"url":"https://api.layer.com/apps/<APP_ID>/conversations/c719613b-5541-49cd-a517-686993bc36f3","participants":["5678","1234"],"id":"layer:///conversations/c719613b-5541-49cd-a517-686993bc36f3","distinct":false,"metadata":{"background_color":"#3c3c3c"},"created_at":"2016-02-03T01:14:40.222Z","messages_url":"https://api.layer.com/apps/<APP_ID>/conversations/c719613b-5541-49cd-a517-686993bc36f3/messages"}'
  recorded_at: Wed, 03 Feb 2016 01:14:40 GMT
- request:
    method: get
    uri: https://api.layer.com/apps/<APP_ID>/conversations/c719613b-5541-49cd-a517-686993bc36f3/messages
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - 51e1f134-3948-4be3-8957-6ed0990c406f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Layer-Count:
      - '0'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 03 Feb 2016 01:14:41 GMT
recorded_with: VCR 2.9.3
