---
http_interactions:
- request:
    method: post
    uri: https://api.layer.com/apps/<APP_ID>/conversations
    body:
      encoding: UTF-8
      string: '{"participants":["1234","5678"],"distinct":false,"metadata":{"background_color":"#3c3c3c"}}'
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - 510ac7f2-92b4-4641-a09a-2af63f61f94c
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"url":"https://api.layer.com/apps/<APP_ID>/conversations/510ac7f2-92b4-4641-a09a-2af63f61f94c","participants":["5678","1234"],"id":"layer:///conversations/510ac7f2-92b4-4641-a09a-2af63f61f94c","distinct":false,"metadata":{"background_color":"#3c3c3c"},"created_at":"2016-02-02T16:36:37.685Z","messages_url":"https://api.layer.com/apps/<APP_ID>/conversations/510ac7f2-92b4-4641-a09a-2af63f61f94c/messages"}'
  recorded_at: Tue, 02 Feb 2016 16:36:37 GMT
- request:
    method: get
    uri: https://api.layer.com/apps/<APP_ID>/conversations/510ac7f2-92b4-4641-a09a-2af63f61f94c/messages
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - 15b6901d-d491-4dde-a1a0-843472f6f1e4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Layer-Count:
      - '0'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 02 Feb 2016 16:36:38 GMT
recorded_with: VCR 2.9.3
