---
http_interactions:
- request:
    method: post
    uri: https://api.layer.com/apps/<APP_ID>/conversations
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - 08ee3fb8-1ee8-4b03-8745-4b67c0e0f846
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"url":"https://developer.layer.com/docs/platform","data":{"property":"participants"},"code":104,"id":"missing_property","message":"Object
        is missing required member ''participants''"}'
  recorded_at: Sun, 24 Jan 2016 00:56:31 GMT
recorded_with: VCR 2.9.3
