---
http_interactions:
- request:
    method: post
    uri: https://api.layer.com/apps/<APP_ID>/conversations
    body:
      encoding: UTF-8
      string: '{"participants":["1234","5678"],"distinct":false,"metadata":{"background_color":"#3c3c3c"}}'
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - 21a56cc4-76a5-4bc0-a934-e3e61e515614
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"url":"https://api.layer.com/apps/<APP_ID>/conversations/21a56cc4-76a5-4bc0-a934-e3e61e515614","participants":["5678","1234"],"id":"layer:///conversations/21a56cc4-76a5-4bc0-a934-e3e61e515614","distinct":false,"metadata":{"background_color":"#3c3c3c"},"created_at":"2016-02-03T01:14:32.759Z","messages_url":"https://api.layer.com/apps/<APP_ID>/conversations/21a56cc4-76a5-4bc0-a934-e3e61e515614/messages"}'
  recorded_at: Wed, 03 Feb 2016 01:14:32 GMT
recorded_with: VCR 2.9.3
