---
http_interactions:
- request:
    method: get
    uri: https://api.layer.com/apps/<APP_ID>/conversations/0fea1717-9240-479b-b06c-73e5c97c8030
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - 828194b0-78bd-4a01-901c-8ef1034a0c5f
  response:
    status:
      code: 410
      message: Gone
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"object_deleted","code":103,"message":"The referenced conversation
        has been deleted.","url":"https://developer.layer.com/docs/platform"}'
  recorded_at: Tue, 02 Feb 2016 16:36:33 GMT
recorded_with: VCR 2.9.3
