---
http_interactions:
- request:
    method: post
    uri: https://api.layer.com/apps/<APP_ID>/conversations
    body:
      encoding: UTF-8
      string: '{"participants":["1234","5678"],"distinct":false,"metadata":{"background_color":"#3c3c3c"}}'
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"url":"https://api.layer.com/apps/<APP_ID>/conversations/9198ddce-d7c1-4f6f-99d8-fbc7f69954fc","participants":["5678","1234"],"id":"layer:///conversations/9198ddce-d7c1-4f6f-99d8-fbc7f69954fc","distinct":false,"metadata":{"background_color":"#3c3c3c"},"created_at":"2015-07-18T16:41:47.840Z"}'
  recorded_at: Sat, 18 Jul 2015 16:41:48 GMT
- request:
    method: get
    uri: https://api.layer.com/apps/<APP_ID>/conversations/9198ddce-d7c1-4f6f-99d8-fbc7f69954fc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"url":"https://api.layer.com/apps/<APP_ID>/conversations/9198ddce-d7c1-4f6f-99d8-fbc7f69954fc","participants":["5678","1234"],"id":"layer:///conversations/9198ddce-d7c1-4f6f-99d8-fbc7f69954fc","distinct":false,"metadata":{"background_color":"#3c3c3c"},"created_at":"2015-07-18T16:41:47.840Z"}'
  recorded_at: Sat, 18 Jul 2015 16:41:48 GMT
- request:
    method: patch
    uri: https://api.layer.com/apps/<APP_ID>/conversations/9198ddce-d7c1-4f6f-99d8-fbc7f69954fc
    body:
      encoding: UTF-8
      string: '[{"operation":"add","property":"participants","value":"user1"},{"operation":"add","property":"participants","value":"user2"}]'
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/vnd.layer-patch+json
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 18 Jul 2015 16:41:49 GMT
- request:
    method: get
    uri: https://api.layer.com/apps/<APP_ID>/conversations/dontexist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: The requested resource could not be found.
  recorded_at: Sat, 18 Jul 2015 21:12:59 GMT
recorded_with: VCR 2.9.3
