---
http_interactions:
- request:
    method: get
    uri: https://api.layer.com/apps/<APP_ID>/conversations/5bd4e054-c6ad-49df-8a14-ace1594e8468
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - d1fe3420-e4d3-48a9-9c0b-38d03160b47c
  response:
    status:
      code: 410
      message: Gone
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"object_deleted","code":103,"message":"The referenced conversation
        has been deleted.","url":"https://developer.layer.com/docs/platform"}'
  recorded_at: Wed, 03 Feb 2016 01:14:15 GMT
recorded_with: VCR 2.9.3
