---
http_interactions:
- request:
    method: post
    uri: https://api.layer.com/apps/<APP_ID>/conversations
    body:
      encoding: UTF-8
      string: '{"participants":["1234","5678"],"distinct":false,"metadata":{"background_color":"#3c3c3c"}}'
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - 1f45a21c-c02f-47d8-a8ef-6574685eaf2e
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"url":"https://api.layer.com/apps/<APP_ID>/conversations/1f45a21c-c02f-47d8-a8ef-6574685eaf2e","participants":["5678","1234"],"id":"layer:///conversations/1f45a21c-c02f-47d8-a8ef-6574685eaf2e","distinct":false,"metadata":{"background_color":"#3c3c3c"},"created_at":"2016-01-24T00:56:30.792Z","messages_url":"https://api.layer.com/apps/<APP_ID>/conversations/1f45a21c-c02f-47d8-a8ef-6574685eaf2e/messages"}'
  recorded_at: Sun, 24 Jan 2016 00:56:30 GMT
- request:
    method: get
    uri: https://api.layer.com/apps/<APP_ID>/conversations/1f45a21c-c02f-47d8-a8ef-6574685eaf2e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - f0201e2f-598b-4c12-a0e9-cc7f11ff30c0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"url":"https://api.layer.com/apps/<APP_ID>/conversations/1f45a21c-c02f-47d8-a8ef-6574685eaf2e","participants":["5678","1234"],"id":"layer:///conversations/1f45a21c-c02f-47d8-a8ef-6574685eaf2e","distinct":false,"metadata":{"background_color":"#3c3c3c"},"created_at":"2016-01-24T00:56:30.792Z","messages_url":"https://api.layer.com/apps/<APP_ID>/conversations/1f45a21c-c02f-47d8-a8ef-6574685eaf2e/messages"}'
  recorded_at: Sun, 24 Jan 2016 00:56:32 GMT
- request:
    method: patch
    uri: https://api.layer.com/apps/<APP_ID>/conversations/1f45a21c-c02f-47d8-a8ef-6574685eaf2e
    body:
      encoding: UTF-8
      string: '[{"operation":"add","property":"participants","value":"user1"},{"operation":"add","property":"participants","value":"user2"}]'
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/vnd.layer-patch+json
      If-None-Match:
      - 712a3fff-60cb-4836-9265-8c483ba1ad33
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 24 Jan 2016 00:56:32 GMT
recorded_with: VCR 2.9.3
