---
http_interactions:
- request:
    method: post
    uri: https://api.layer.com/apps/<APP_ID>/conversations
    body:
      encoding: UTF-8
      string: '{"participants":["1234","5678"],"distinct":false,"metadata":{"background_color":"#3c3c3c"}}'
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - b759106a-412b-4311-b833-e1bf119d5958
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"url":"https://api.layer.com/apps/<APP_ID>/conversations/b759106a-412b-4311-b833-e1bf119d5958","participants":["5678","1234"],"id":"layer:///conversations/b759106a-412b-4311-b833-e1bf119d5958","distinct":false,"metadata":{"background_color":"#3c3c3c"},"created_at":"2016-02-02T16:36:35.035Z","messages_url":"https://api.layer.com/apps/<APP_ID>/conversations/b759106a-412b-4311-b833-e1bf119d5958/messages"}'
  recorded_at: Tue, 02 Feb 2016 16:36:35 GMT
recorded_with: VCR 2.9.3
