---
http_interactions:
- request:
    method: get
    uri: https://api.layer.com/apps/<APP_ID>/conversations/9198ddce-d7c1-4f6f-99d8-fbc7f69954fc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"url":"https://api.layer.com/apps/<APP_ID>/conversations/9198ddce-d7c1-4f6f-99d8-fbc7f69954fc","participants":["1234","5678","user2","user1"],"id":"layer:///conversations/9198ddce-d7c1-4f6f-99d8-fbc7f69954fc","distinct":false,"metadata":{"background_color":"#3c3c3c"},"created_at":"2015-07-18T16:41:47.840Z"}'
  recorded_at: Sat, 18 Jul 2015 16:41:50 GMT
recorded_with: VCR 2.9.3
