---
http_interactions:
- request:
    method: post
    uri: https://api.layer.com/apps/<APP_ID>/conversations
    body:
      encoding: UTF-8
      string: '{"participants":["1234","5678"],"distinct":false,"metadata":{"background_color":"#3c3c3c"}}'
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - 81555189-5413-4129-8dea-eac299ab8417
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"url":"https://api.layer.com/apps/<APP_ID>/conversations/81555189-5413-4129-8dea-eac299ab8417","participants":["5678","1234"],"id":"layer:///conversations/81555189-5413-4129-8dea-eac299ab8417","distinct":false,"metadata":{"background_color":"#3c3c3c"},"created_at":"2016-02-02T16:36:38.844Z","messages_url":"https://api.layer.com/apps/<APP_ID>/conversations/81555189-5413-4129-8dea-eac299ab8417/messages"}'
  recorded_at: Tue, 02 Feb 2016 16:36:39 GMT
recorded_with: VCR 2.9.3
