---
http_interactions:
- request:
    method: post
    uri: https://api.layer.com/apps/<APP_ID>/conversations
    body:
      encoding: UTF-8
      string: '{"participants":["1234","5678"],"distinct":false,"metadata":{"background_color":"#3c3c3c"}}'
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - 81075eec-8781-456c-a5c4-f474dcbaf2e9
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"url":"https://api.layer.com/apps/<APP_ID>/conversations/81075eec-8781-456c-a5c4-f474dcbaf2e9","participants":["5678","1234"],"id":"layer:///conversations/81075eec-8781-456c-a5c4-f474dcbaf2e9","distinct":false,"metadata":{"background_color":"#3c3c3c"},"created_at":"2016-02-03T01:14:41.899Z","messages_url":"https://api.layer.com/apps/<APP_ID>/conversations/81075eec-8781-456c-a5c4-f474dcbaf2e9/messages"}'
  recorded_at: Wed, 03 Feb 2016 01:14:42 GMT
recorded_with: VCR 2.9.3
