---
http_interactions:
- request:
    method: get
    uri: https://api.layer.com/apps/<APP_ID>/conversations/1f45a21c-c02f-47d8-a8ef-6574685eaf2e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - 1d88612e-8530-40ab-9fb8-4f48d3f25b58
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"url":"https://api.layer.com/apps/<APP_ID>/conversations/1f45a21c-c02f-47d8-a8ef-6574685eaf2e","participants":["1234","5678","user2","user1"],"id":"layer:///conversations/1f45a21c-c02f-47d8-a8ef-6574685eaf2e","distinct":false,"metadata":{"background_color":"#3c3c3c"},"created_at":"2016-01-24T00:56:30.792Z","messages_url":"https://api.layer.com/apps/<APP_ID>/conversations/1f45a21c-c02f-47d8-a8ef-6574685eaf2e/messages"}'
  recorded_at: Sun, 24 Jan 2016 00:56:33 GMT
recorded_with: VCR 2.9.3
