---
http_interactions:
- request:
    method: get
    uri: https://api.layer.com/apps/<APP_ID>/conversations/5bd4e054-c6ad-49df-8a14-ace1594e8468
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - 4da7949e-6f1b-4dbd-b929-48cadb7df116
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"url":"https://api.layer.com/apps/<APP_ID>/conversations/5bd4e054-c6ad-49df-8a14-ace1594e8468","participants":["1234","5678","user2","user1"],"id":"layer:///conversations/5bd4e054-c6ad-49df-8a14-ace1594e8468","distinct":false,"metadata":{"background_color":"#3c3c3c"},"created_at":"2016-02-03T01:13:49.023Z","messages_url":"https://api.layer.com/apps/<APP_ID>/conversations/5bd4e054-c6ad-49df-8a14-ace1594e8468/messages"}'
  recorded_at: Wed, 03 Feb 2016 01:14:12 GMT
recorded_with: VCR 2.9.3
