---
http_interactions:
- request:
    method: get
    uri: https://api.layer.com/apps/<APP_ID>/conversations/notfound
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - c0be52a5-8567-4df1-85ca-42af750d2246
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: The requested resource could not be found.
  recorded_at: Tue, 02 Feb 2016 16:36:21 GMT
- request:
    method: get
    uri: https://api.layer.com/apps/<APP_ID>/users/test/blocks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - dea17788-e758-4f28-90a0-fbfa8296bff4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"user_id":"blocked"}]'
  recorded_at: Tue, 02 Feb 2016 16:36:22 GMT
- request:
    method: post
    uri: https://api.layer.com/apps/<APP_ID>/conversations
    body:
      encoding: UTF-8
      string: '{"participants":["1234","5678"],"distinct":false,"metadata":{"background_color":"#3c3c3c"}}'
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - 0fea1717-9240-479b-b06c-73e5c97c8030
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"url":"https://api.layer.com/apps/<APP_ID>/conversations/0fea1717-9240-479b-b06c-73e5c97c8030","participants":["5678","1234"],"id":"layer:///conversations/0fea1717-9240-479b-b06c-73e5c97c8030","distinct":false,"metadata":{"background_color":"#3c3c3c"},"created_at":"2016-02-02T16:36:23.252Z","messages_url":"https://api.layer.com/apps/<APP_ID>/conversations/0fea1717-9240-479b-b06c-73e5c97c8030/messages"}'
  recorded_at: Tue, 02 Feb 2016 16:36:23 GMT
- request:
    method: get
    uri: https://api.layer.com/apps/<APP_ID>/conversations/0fea1717-9240-479b-b06c-73e5c97c8030
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - 139c0c60-700c-4ed9-9847-2f23ba4d4c10
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"url":"https://api.layer.com/apps/<APP_ID>/conversations/0fea1717-9240-479b-b06c-73e5c97c8030","participants":["5678","1234"],"id":"layer:///conversations/0fea1717-9240-479b-b06c-73e5c97c8030","distinct":false,"metadata":{"background_color":"#3c3c3c"},"created_at":"2016-02-02T16:36:23.252Z","messages_url":"https://api.layer.com/apps/<APP_ID>/conversations/0fea1717-9240-479b-b06c-73e5c97c8030/messages"}'
  recorded_at: Tue, 02 Feb 2016 16:36:23 GMT
- request:
    method: patch
    uri: https://api.layer.com/apps/<APP_ID>/conversations/0fea1717-9240-479b-b06c-73e5c97c8030
    body:
      encoding: UTF-8
      string: '[{"operation":"add","property":"participants","value":"user1"},{"operation":"add","property":"participants","value":"user2"}]'
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/vnd.layer-patch+json
      If-None-Match:
      - c737b687-e978-4d32-979c-4e71bf0def32
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 02 Feb 2016 16:36:24 GMT
- request:
    method: delete
    uri: https://api.layer.com/apps/<APP_ID>/conversations/0fea1717-9240-479b-b06c-73e5c97c8030
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - 71f703d1-bb2e-49c0-8b62-2a1c00fcf518
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 02 Feb 2016 16:36:32 GMT
recorded_with: VCR 2.9.3
