---
http_interactions:
- request:
    method: post
    uri: https://api.layer.com/apps/<APP_ID>/conversations
    body:
      encoding: UTF-8
      string: '{"participants":["1234","5678"],"distinct":false,"metadata":{"background_color":"#3c3c3c"}}'
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - 09675931-eb11-4970-90c2-0126ce1fa592
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"url":"https://api.layer.com/apps/<APP_ID>/conversations/09675931-eb11-4970-90c2-0126ce1fa592","participants":["5678","1234"],"id":"layer:///conversations/09675931-eb11-4970-90c2-0126ce1fa592","distinct":false,"metadata":{"background_color":"#3c3c3c"},"created_at":"2016-03-02T22:44:05.015Z","messages_url":"https://api.layer.com/apps/<APP_ID>/conversations/09675931-eb11-4970-90c2-0126ce1fa592/messages"}'
  recorded_at: Wed, 02 Mar 2016 22:44:05 GMT
- request:
    method: post
    uri: https://api.layer.com/apps/<APP_ID>/conversations/09675931-eb11-4970-90c2-0126ce1fa592/messages
    body:
      encoding: UTF-8
      string: '{"sender":{"name":"t-bone"},"parts":[{"body":"Hello, World!","mime_type":"text/plain"},{"body":"YW55IGNhcm5hbCBwbGVhc3VyZQ==","mime_type":"image/jpeg","encoding":"base64"}],"notification":{"text":"This
        is the alert text to include with the Push Notification.","sound":"chime.aiff"}}'
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - a9807a92-fd40-474a-837e-aeefb9832ad0
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"conversation":{"id":"layer:///conversations/09675931-eb11-4970-90c2-0126ce1fa592","url":"https://api.layer.com/apps/<APP_ID>/conversations/09675931-eb11-4970-90c2-0126ce1fa592"},"url":"https://api.layer.com/apps/<APP_ID>/messages/a9807a92-fd40-474a-837e-aeefb9832ad0","sent_at":"2016-03-02T22:44:05.681Z","id":"layer:///messages/a9807a92-fd40-474a-837e-aeefb9832ad0","recipient_status":{"5678":"sent","1234":"sent"},"sender":{"name":"t-bone"},"parts":[{"mime_type":"text/plain","body":"Hello,
        World!"},{"mime_type":"image/jpeg","body":"any carnal pleasure"}]}'
  recorded_at: Wed, 02 Mar 2016 22:44:05 GMT
- request:
    method: delete
    uri: https://api.layer.com/apps/<APP_ID>/conversations/09675931-eb11-4970-90c2-0126ce1fa592/messages/a9807a92-fd40-474a-837e-aeefb9832ad0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - 89e4c35d-8f18-4f7e-859c-17366458860b
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 02 Mar 2016 22:44:08 GMT
- request:
    method: get
    uri: https://api.layer.com/apps/<APP_ID>/conversations/09675931-eb11-4970-90c2-0126ce1fa592/messages/a9807a92-fd40-474a-837e-aeefb9832ad0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - f980cda0-1bb4-48b9-aba8-6d10bf9f48cb
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":102,"id":"not_found","message":"A Message with the specified
        identifier could not be found.","url":"https://developer.layer.com/docs/client/rest#not_found"}'
  recorded_at: Wed, 02 Mar 2016 22:44:08 GMT
recorded_with: VCR 2.9.3
