---
http_interactions:
- request:
    method: post
    uri: https://api.layer.com/apps/<APP_ID>/conversations/0fea1717-9240-479b-b06c-73e5c97c8030/messages
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - 3c60e454-5038-423f-bfd5-7e1694f1bbe2
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"url":"https://developer.layer.com/docs/platform","data":{"property":"sender"},"code":104,"id":"missing_property","message":"Object
        is missing required member ''sender''"}'
  recorded_at: Tue, 02 Feb 2016 16:36:34 GMT
recorded_with: VCR 2.9.3
