---
http_interactions:
- request:
    method: post
    uri: https://api.layer.com/apps/<APP_ID>/conversations/21a56cc4-76a5-4bc0-a934-e3e61e515614/messages
    body:
      encoding: UTF-8
      string: '{"sender":{"name":"t-bone"},"parts":[{"body":"Hello, World!","mime_type":"text/plain"},{"body":"YW55IGNhcm5hbCBwbGVhc3VyZQ==","mime_type":"image/jpeg","encoding":"base64"}],"notification":{"text":"This
        is the alert text to include with the Push Notification.","sound":"chime.aiff"}}'
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - 506c73d9-9280-4ba3-8960-aa4d400fd2a5
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"conversation":{"id":"layer:///conversations/21a56cc4-76a5-4bc0-a934-e3e61e515614","url":"https://api.layer.com/apps/<APP_ID>/conversations/21a56cc4-76a5-4bc0-a934-e3e61e515614"},"url":"https://api.layer.com/apps/<APP_ID>/messages/506c73d9-9280-4ba3-8960-aa4d400fd2a5","sent_at":"2016-02-03T01:14:33.417Z","id":"layer:///messages/506c73d9-9280-4ba3-8960-aa4d400fd2a5","recipient_status":{"5678":"sent","1234":"sent"},"sender":{"name":"t-bone"},"parts":[{"mime_type":"text/plain","body":"Hello,
        World!"},{"mime_type":"image/jpeg","body":"any carnal pleasure"}]}'
  recorded_at: Wed, 03 Feb 2016 01:14:33 GMT
[...]
- request:
    method: get
    uri: https://api.layer.com/apps/<APP_ID>/conversations/21a56cc4-76a5-4bc0-a934-e3e61e515614/messages
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - aec376d5-ce03-456b-a2a1-7df805f653dc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Layer-Count:
      - '3'
    body:
      encoding: UTF-8
      string: '[{"id":"layer:///messages/8f389318-9d61-4eca-9c6f-1bf9418df33e","url":"https://api.layer.com/apps/<APP_ID>/conversations/21a56cc4-76a5-4bc0-a934-e3e61e515614/messages/8f389318-9d61-4eca-9c6f-1bf9418df33e","receipts_url":null,"position":null,"conversation":{"id":"layer:///conversations/21a56cc4-76a5-4bc0-a934-e3e61e515614","url":"https://api.layer.com/apps/<APP_ID>/conversations/21a56cc4-76a5-4bc0-a934-e3e61e515614"},"parts":[{"id":"layer:///messages/8f389318-9d61-4eca-9c6f-1bf9418df33e/parts/0","mime_type":"text/plain","body":"Hello,
        World!","encoding":null,"content":null},{"id":"layer:///messages/8f389318-9d61-4eca-9c6f-1bf9418df33e/parts/1","mime_type":"image/jpeg","body":"any
        carnal pleasure","encoding":null,"content":null}],"sent_at":"2016-02-03T01:14:34.853Z","received_at":null,"sender":{"user_id":null,"name":"t-bone"},"is_unread":null,"recipient_status":{"5678":"sent","1234":"sent"},"notification":null},{"id":"layer:///messages/4df69780-d1b1-47d8-8e2a-16cd02d3def9","url":"https://api.layer.com/apps/<APP_ID>/conversations/21a56cc4-76a5-4bc0-a934-e3e61e515614/messages/4df69780-d1b1-47d8-8e2a-16cd02d3def9","receipts_url":null,"position":null,"conversation":{"id":"layer:///conversations/21a56cc4-76a5-4bc0-a934-e3e61e515614","url":"https://api.layer.com/apps/<APP_ID>/conversations/21a56cc4-76a5-4bc0-a934-e3e61e515614"},"parts[...]
[...]
- request:
    method: get
    uri: https://api.layer.com/apps/<APP_ID>/conversations/81075eec-8781-456c-a5c4-f474dcbaf2e9/messages/10aedb5c-f5ac-4e90-914d-e59554dcd74f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - 077969ea-4f3b-477b-a44d-3e5b57dd50fe
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - applicat[...]
