---
http_interactions:
- request:
    method: post
    uri: https://api.layer.com/apps/<APP_ID>/conversations/5bd4e054-c6ad-49df-8a14-ace1594e8468/messages
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Content-Type:
      - application/json
      If-None-Match:
      - c97bb5ff-9b64-4d2e-9328-cf3275a8f4a1
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"url":"https://developer.layer.com/docs/platform","data":{"property":"sender"},"code":104,"id":"missing_property","message":"Object
        is missing required member ''sender''"}'
  recorded_at: Wed, 03 Feb 2016 01:14:32 GMT
recorded_with: VCR 2.9.3
