---
http_interactions:
- request:
    method: post
    uri: https://api.layer.com/apps/<APP_ID>/webhooks
    body:
      encoding: UTF-8
      string: '{"version":"1.0","target_url":"https://mydomain.com/my-webhook-endpoint","events":["conversation.created","message.sent"],"secret":"1697f925ec7b1697f925ec7b","config":{"key1":"value1","key2":"value2"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_TOKEN>
      If-None-Match:
      - 47b60b00-2cac-406a-a1b0-e0c11870ed87
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"layer:///apps/<APP_ID>/webhooks/a0d5a82e-f294-4c7e-9d8d-5574b071d9f3","url":"https://api.layer.com/apps/<APP_ID>/webhooks/a0d5a82e-f294-4c7e-9d8d-5574b071d9f3","version":"1.0","target_url":"https://mydomain.com/my-webhook-endpoint","events":["conversation.created","message.sent"],"status":"unverified","created_at":"2016-03-03T22:55:59.605Z","config":{"key1":"value1","key2":"value2"}}'
  recorded_at: Thu, 03 Mar 2016 22:55:58 GMT
recorded_with: VCR 2.9.3
