---
http_interactions:
- request:
    method: post
    uri: https://api.layer.com/apps/<APP_ID>/webhooks
    body:
      encoding: UTF-8
      string: '{"version":"1.0","target_url":"https://mydomain.com/my-webhook-endpoint","events":["conversation.created","message.sent"],"secret":"1697f925ec7b1697f925ec7b","config":{"key1":"value1","key2":"value2"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_TOKEN>
      If-None-Match:
      - 7cbd0974-8d74-48e3-884b-31fe01638d2b
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"layer:///apps/<APP_ID>/webhooks/22ab34d5-57e8-4406-b797-ad9a0201f9dd","url":"https://api.layer.com/apps/<APP_ID>/webhooks/22ab34d5-57e8-4406-b797-ad9a0201f9dd","version":"1.0","target_url":"https://mydomain.com/my-webhook-endpoint","events":["conversation.created","message.sent"],"status":"unverified","created_at":"2016-03-03T22:39:51.260Z","config":{"key1":"value1","key2":"value2"}}'
  recorded_at: Thu, 03 Mar 2016 22:39:50 GMT
[...]
- request:
    method: get
    uri: https://api.layer.com/apps/<APP_ID>/webhooks
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_TOKEN>
      If-None-Match:
      - c9e64eb2-5c39-466d-aa09-c20244ace593
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":"layer:///apps/<APP_ID>/webhooks/08a643fa-e245-4742-956b-9c5839988b7f","url":"https://api.layer.com/apps/<APP_ID>/webhooks/08a643fa-e245-4742-956b-9c5839988b7f","version":"1.0","target_url":"https://mydomain.com/my-webhook-endpoint","events":["conversation.created","message.sent"],"status":"inactive","status_reason":"Verification
        failed due to unexpected response status: 404 Not Found","created_at":"2016-03-03T22:37:46.357Z","config":{"key1":"value1","key2":"value2"}},{"id":"layer:///apps/<APP_ID>/webhooks/22ab34d5-57e8-4406-b797-ad9a0201f9dd","url":"https://api.layer.com/apps/<APP_ID>/webhooks/22ab34d5-57e8-4406-b797-ad9a0201f9dd","version":"1.0","target_url":"https://mydomain.com/my-webhook-endpoint","events":["conversation.created","message.sent"],"status":"inactive","status_reason":"Verification[...]
