---
http_interactions:
- request:
    method: post
    uri: https://api.layer.com/apps/<APP_ID>/webhooks
    body:
      encoding: UTF-8
      string: '{"version":"1.0","target_url":"https://mydomain.com/my-webhook-endpoint","events":["conversation.created","message.sent"],"secret":"1697f925ec7b1697f925ec7b","config":{"key1":"value1","key2":"value2"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_TOKEN>
      If-None-Match:
      - 8b8b7faf-4346-4d7f-9d23-fbbdea4f3a7f
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"layer:///apps/<APP_ID>/webhooks/f0de1ed0-91bf-4678-922b-ab9a5aa7e86c","url":"https://api.layer.com/apps/<APP_ID>/webhooks/f0de1ed0-91bf-4678-922b-ab9a5aa7e86c","version":"1.0","target_url":"https://mydomain.com/my-webhook-endpoint","events":["conversation.created","message.sent"],"status":"unverified","created_at":"2016-03-03T22:32:15.828Z","config":{"key1":"value1","key2":"value2"}}'
  recorded_at: Thu, 03 Mar 2016 22:32:14 GMT
recorded_with: VCR 2.9.3
