---
http_interactions:
- request:
    method: post
    uri: https://api.layer.com/apps/<APP_ID>/webhooks
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <API_TOKEN>
      If-None-Match:
      - 34f6b127-a05b-42fa-ae08-51d3ca4a1066
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"missing_property","code":104,"message":"The version property
        cannot be omitted.","url":"https://developer.layer.com/docs/webhooks","data":{"property":"version"}}'
  recorded_at: Thu, 03 Mar 2016 22:35:23 GMT
recorded_with: VCR 2.9.3
